.add-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #fff;


}

.mat-slide-toggle-label{
  height: fit-content;
  margin-bottom: 16px;
}

button{
  margin-top: 18px;
  height: 48px;
}

:host ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 1em;
}
